.emptyBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;

    .text {
        display: block;
        color: #ffffff;
        font-size: 15px;
        opacity: 0.6;
        padding: 10% 15px 0;
    }
}