.action {
    display: flex;
    padding: 6px 15px;
    flex-shrink: 0;
    background-color: #34495E;
    border-radius: 3px;
    margin-bottom: 10px;
}

.actionType {
    font-size: 15px;
    color: #1ABC9C;
}