.selectors {
    display: flex;
    flex-direction: column;
    width: 60%;
    flex-shrink: 1;
    height: 100%;
    background-color: #435F7B;
    padding: 15px;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    overflow-y: scroll;
}